.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.home-practices {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.home-close:hover {
  opacity: 0.5;
}
.home-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-section {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption {
  max-width: 385px;
  line-height: 24px;
}
.home-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image {
  width: 12px;
  object-fit: cover;
}
.home-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header02 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.home-text01 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image1 {
  width: 12px;
  object-fit: cover;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header03 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.home-text02 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image2 {
  width: 12px;
  object-fit: cover;
}
.home-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header04 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.home-text03 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image3 {
  width: 12px;
  object-fit: cover;
}
.home-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header05 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.home-text04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image4 {
  width: 12px;
  object-fit: cover;
}
.home-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header06 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.home-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image5 {
  width: 12px;
  object-fit: cover;
}
.home-pasted-image {
  top: 4px;
  left: 18px;
  width: 260px;
  height: 79px;
  position: absolute;
  align-self: flex-start;
}
.home-hero {
  top: 0px;
  left: 277px;
  width: 696px;
  height: 126px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 1173px;
  height: 82px;
  display: flex;
  z-index: 100;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-links {
  gap: var(--dl-space-space-oneandhalfunits);
  top: -9px;
  right: -381px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.home-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link:hover {
  opacity: 0.5;
}
.home-link01 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link01:hover {
  opacity: 0.5;
}
.home-right {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 24px;
  right: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-phone {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.home-text06 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-text07 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
}
.home-book {
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  text-decoration: none;
  background-color: #ffffff;
}
.home-text08 {
  color: rgb(0, 0, 0);
  font-family: Inter;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image6 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-book1 {
  text-decoration: none;
}
.home-image7 {
  width: 18px;
  object-fit: cover;
}
.home-text13 {
  font-family: Inter;
}
.home-background {
  top: 128px;
  left: -273px;
  width: 1224px;
  height: 537px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-bottom: 201px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f2f2f2;
}
.home-main {
  top: 103px;
  left: 49px;
  width: 482px;
  height: 498px;
  display: flex;
  z-index: 100;
  position: absolute;
  max-width: 1440px;
  align-self: flex-start;
  align-items: stretch;
  padding-left: 39px;
  flex-direction: row;
  justify-content: space-between;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  height: 110px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.home-heading7 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text14 {
  top: 111px;
  left: -54px;
  width: 267px;
  height: 55px;
  position: absolute;
  font-size: 25px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 27px;
}
.home-form {
  gap: var(--dl-space-space-fourunits);
  left: 0px;
  width: 444px;
  bottom: 0px;
  height: 407px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-types {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-book2 {
  color: #000000;
  width: 100%;
  border-color: var(--dl-color-gray-black);
  border-width: 2px;
  background-color: #fbfbfb;
}
.home-text16 {
  top: 64px;
  left: 11px;
  color: #09c7ce;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 30px;
  max-width: auto;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-book3 {
  gap: var(--dl-space-space-fiveunits);
  width: 0px;
  height: 125px;
  display: none;
  max-width: 1440px;
  align-items: center;
  padding-top: 294px;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-heading8 {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-pasted-image1 {
  top: 157px;
  right: 91px;
  width: 484px;
  height: 412px;
  position: absolute;
}
.home-right1 {
  gap: var(--dl-space-space-fiveunits);
  top: 696px;
  left: 58px;
  width: 719px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-list {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header07 {
  color: rgb(112, 222, 227);
  font-style: normal;
  font-weight: 700;
}
.home-links1 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link02 {
  color: #70dee3;
  cursor: pointer;
  transition: 0.3s;
}
.home-link02:hover {
  opacity: 0.5;
}
.home-link03 {
  color: #70dee3;
  cursor: pointer;
  transition: 0.3s;
}
.home-link03:hover {
  opacity: 0.5;
}
.home-link04 {
  color: #70dee3;
  cursor: pointer;
  transition: 0.3s;
}
.home-link04:hover {
  opacity: 0.5;
}
.home-link05 {
  color: #70dee3;
  cursor: pointer;
  transition: 0.3s;
}
.home-link05:hover {
  opacity: 0.5;
}
.home-link06 {
  color: #70dee3;
  cursor: pointer;
  transition: 0.3s;
}
.home-link06:hover {
  opacity: 0.5;
}
.home-list1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header08 {
  color: rgb(112, 222, 227);
  font-style: normal;
  font-weight: 700;
}
.home-links2 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link07 {
  color: #70dee3;
  cursor: pointer;
  transition: 0.3s;
}
.home-link07:hover {
  opacity: 0.5;
}
.home-list2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header09 {
  color: rgb(112, 222, 227);
  font-style: normal;
  font-weight: 700;
}
.home-links3 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link08 {
  color: #70dee3;
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
}
.home-link08:hover {
  opacity: 0.5;
}
.home-link09 {
  color: #70dee3;
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.home-link09:hover {
  opacity: 0.5;
}
.home-link10 {
  color: #70dee3;
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.home-link10:hover {
  opacity: 0.5;
}
@media(max-width: 991px) {
  .home-hero {
    flex: 1;
    height: 0px;
  }
  .home-navbar {
    z-index: 1000;
  }
  .home-links {
    display: none;
  }
  .home-right {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .home-icon1 {
    fill: white;
  }
  .home-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
  .home-main {
    flex-direction: column;
  }
  .home-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-text14 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-form {
    gap: var(--dl-space-space-threeunits);
  }
  .home-types {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text16 {
    font-size: 24px;
  }
  .home-book3 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading8 {
    gap: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-types {
    flex-direction: column;
  }
}
