<!DOCTYPE html>
<html>
<head>
    <title>Mi Sitio Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img class="logo" src="../../static/img/logo.png" alt="Logo">
                </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="new_account.html">Crear cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactanos.html">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn" href="login.html">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div>
        <div class="info-struct">
            <div class="info-caracteristica">
                <h1>Características del Producto</h1>
                <div>
                    <h2>Para el segmento de usuarios individuales:</h2>
                    <ul>
                        <li>El producto puede usarse en cualquier momento en el que el usuario quiera.</li>
                        <li>El producto es usado como una herramienta fácil de usar para hacer ejercicios fisioterapéuticos desde la comodidad de las casas de los usuarios.</li>
                        <li>El mayor problema es que los adultos mayores no están familiarizados con la tecnología de la actualidad, por lo que se les puede hacer complicado el proceso de entrar a la página web. Esto será resuelto dando una interfaz que sea fácil de interactuar y entender para los usuarios.</li>
                    </ul>
                </div>
                <div>
                    <h2>Para el segmento de empresas:</h2>
                    <ul>
                        <li>Los usuarios son los servicios sociales y clínicas que atienden al sector de los adultos mayores.</li>
                        <li>El producto encajaría en el trabajo para los fisioterapeutas que realizan sus ejercicios.</li>
                        <li>El producto es usado en cualquier momento en el que el usuario desee.</li>
                        <li>El producto es utilizado para brindar servicio de fisioterapeutas a los usuarios.</li>
                        <li>El problema del producto es la disponibilidad de los fisioterapeutas cuando un usuario lo necesita. Esto se soluciona con los voluntarios que tengan tiempo libre para participar en los ejercicios junto a los adultos mayores.</li>
                    </ul>
                </div>
                <div>
                    <h2>Características generales del producto:</h2>
                    <ul>
                        <li>Brindará calificaciones y comentarios tanto a voluntarios como a adultos mayores para una mejor experiencia.</li>
                        <li>Facilitará el acceso desde un móvil, hacia el monitoreo diario del adulto mayor para una mayor tranquilidad del familiar.</li>
                        <li>En la última sección ofrecerá recomendaciones de algún curso en línea fuera de la página que les pueda ser de su agrado.</li>
                        <li>Contará con una sección donde puedan compartir con otros adultos mayores fotos u opiniones del día a día.</li>
                        <li>Se otorgarán certificados a los voluntarios por su participación por un mínimo de 72 horas de interacción con adultos mayores.</li>
                        <li>Debe ser un entorno amigable e intuitivo para el usuario en este caso del adulto mayor, además brindar ciertas accesibilidades según lo requiera, como dictado por voz, zoom con una buena adaptabilidad en la página, entre otros.</li>
                        <li>Interfaz fluida y un trayecto amigable y sumamente sencillo para evitar conflictos con nuestro usuario y en consecuencia un abandono.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="entradas">
        <div>
            <div>
                <br>
                <h2>¿Quiénes somos?</h2>
                <br>
            </div>
            <div class="imagenes">
                <a href="beneficios.html" class="imagen">
                    <img src="../../static/img/beneficios.png" alt="Icono 1">
                    <p>Beneficios</p>
                </a>
                <a href="caracteristicas.html" class="imagen">
                    <img src="../../static/img/caracteristica.png" alt="Icono 2">
                    <p>Características</p>
                </a>
                <a href="nosotros.html" class="imagen">
                    <img src="../../static/img/testimonios.png" alt="Icono 3">
                    <p>Testimonios</p>
                </a>
                <a href="planes.html" class="imagen">
                    <img src="../../static/img/suscribir.png" alt="Icono 4">
                    <p>Planes</p>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="home">
            <div class="home-right1">
                <ul>
                    <li>INFORMACIÓN</li>
                    <li><a class="nav-link" href="nosotros.html">Nosotros</a></li>
                    <li><a class="nav-link" href="#">Mi cuenta</a></li>
                    <li><a class="nav-link" href="#">Perfil de empresa</a></li>
                    <li><a class="nav-link" href="#">FAQs</a></li>
                    <li><a class="nav-link" href="contactanos.html">Contáctanos</a></li>
                </ul>
                <ul>
                    <li>POLÍTICA</li>
                    <li><a class="nav-link" href="#">Terminos y condiciones de nuestra política de uso</a></li>
                </ul>
                <ul>
                    <li>SÍGUENOS</li>
                    <li><a class="nav-link" href="#">Facebook</a></li>
                    <li><a class="nav-link" href="#">Instagram</a></li>
                    <li><a class="nav-link" href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
