<!DOCTYPE html>
<html>

<head>
    <title>Contactanos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
                <img class="logo" src="logo.png" alt="Logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicios</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Crear cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><u>Contáctanos</u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn" href="#">Iniciar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <div class="banner">
            <div class="info">
                <h1>Brindamos el mejor servicio</h1>
                <h2>Contactanos hoy</h2>
                <br>
                <p>Nombre</p>
                <input type="text" name="nombredelacaja">
                <br>
                <p>Email</p>
                <input type="text" name="nombredelacaja">
                <br>
                <p>Mensaje</p>
                <input type="text" name="nombredelacaja">
                <br>
                <div>
                    <button class="btn navbar-light">Enviar</button>
                </div>
                <br><br>
            </div>
            <div class="img">
                <img src="compu.png">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <ul style="list-style: none;">
                        <br>
                        <p><strong>INFORMACIÓN</strong></p>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Perfil de Empresa</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Contactanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <ul style="list-style: none;">
                        <br>
                        <p><strong>POLITICA</strong></p>
                        <li><a href="#">Términos y condiciones de nuestra politica de uso</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-body">
                    <ul style="list-style: none;">
                        <br>
                        <p><strong>SIGUENOS</strong></p>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Youtube</a></li>
                        <li><a href="#">Tiktok</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
