<!DOCTYPE html>
<html>
<head>
    <title>Mi Sitio Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img class="logo" src="../../static/img/logo.png" alt="Logo">
                </a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Servicios</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="new_account.html">Crear cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn" href="login.html">Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="company-heading intro-type" id="parallax-one">
        <div class="container">
          <div class="row product-title-info">
            <div class="col-md-12">
              <h1>Planes para Usuarios</h1>
            </div>
          </div>
        </div>
        <div class="parallax" id="parallax-cta" style="background-image:url(https://static3.depositphotos.com/1007037/229/i/600/depositphotos_2291504-stock-photo-blue-background.jpg);"></div>
      </section>
    <div class="sub-container">
        <div class="sub-row">
            <div class="sub-column">
                <h2>Plan para Voluntarios</h2>
                <p>Este plan está diseñado para aquellos que deseen ofrecer su tiempo y habilidades para ayudar a los adultos mayores. Incluye características como la capacidad de programar visitas, recibir recordatorios y obtener certificados de participación.</p>
                <button class="btn">Gratis</button>
            </div>
            <div class="sub-column">
                <h2>Plan para Adultos Mayores</h2>
                <p>Este plan está diseñado para los adultos mayores que buscan mejorar su bienestar y mantenerse activos. Incluye características como recordatorios de medicamentos, acceso a talleres de manualidades y fisioterapia online.</p>
                <button class="btn">Gratis</button>
            </div>
            <div class="sub-column">
                <h2>Plan para Fisioterapeutas</h2>
                <p>Este plan está diseñado para los fisioterapeutas que deseen ofrecer sus servicios a los adultos mayores. Incluye características como la capacidad de programar sesiones de fisioterapia, monitorear el progreso de los pacientes y recibir pagos en línea.</p>
                <button class="btn">Suscripción</button>
            </div>
        </div>
    </div>
    <div>
        <div class="entradas">
            <h2>¿Quiénes somos?</h2>
            <div class="imagenes">
                <a href="beneficios.html" class="imagen">
                    <img src="../../static/img/beneficios.png" alt="Icono 1">
                    <p>Beneficios</p>
                </a>
                <a href="caracteristicas.html" class="imagen">
                    <img src="../../static/img/caracteristica.png" alt="Icono 2">
                    <p>Características</p>
                </a>
                <a href="nosotros.html" class="imagen">
                    <img src="../../static/img/testimonios.png" alt="Icono 3">
                    <p>Testimonios</p>
                </a>
                <a href="planes.html" class="imagen">
                    <img src="../../static/img/suscribir.png" alt="Icono 4">
                    <p>Planes</p>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class="home">
            <div class="home-right1">
                <ul>
                    <li>INFORMACIÓN</li>
                    <li><a class="nav-link" href="#">Nosotros</a></li>
                    <li><a class="nav-link" href="#">Mi cuenta</a></li>
                    <li><a class="nav-link" href="#">Perfil de empresa</a></li>
                    <li><a class="nav-link" href="#">FAQs</a></li>
                    <li><a class="nav-link" href="#">Contáctanos</a></li>
                </ul>
                <ul>
                    <li>POLÍTICA</li>
                    <li><a class="nav-link" href="#">Terminos y condiciones de nuestra política de uso</a></li>
                </ul>
                <ul>
                    <li>SÍGUENOS</li>
                    <li><a class="nav-link" href="#">Facebook</a></li>
                    <li><a class="nav-link" href="#">Instagram</a></li>
                    <li><a class="nav-link" href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
