<footer class="section bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Informacion</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="about">Nosotros</a></li>
                        <li><a href="singin">Mi cuenta</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="contact">Contactanos</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Politica</h6>
                    <ul class="list-unstyled footer-link mt-4">
                        <li><a href="">Terminos y condiciones</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="">
                    <h6 class="footer-heading text-uppercase text-white">Siguenos</h6>
                    <p class="contact-info mt-4">Facebook</p>
                    <p class="contact-info mt-4">Instagram</p>
                    <p class="contact-info mt-4">Tiktok</p>
                    
                    
                </div>
            </div>

        </div>
    </div>

    <div class="text-center mt-0">
        <p class="footer-alt mb-0 f-14">2023 © Young Miracles Derechos reservados</p>
    </div>
</footer>

        




</body>
</html>
