body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    width: 100%;
    padding: 0;
    background-color: white;
}

.banner {
    background-color: #f2f2f2;
    display: flex;

    justify-content: center;
    align-items: center;
}

.banner-boxes {
    max-width: 90rem;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
}
.info {
    padding: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    justify-content: space-between;
}

.info {
    padding: 2%;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info>h1 {
    color: #03c5cd;
}

.info>p {
    font-size: 1.2rem;
    text-align: justify;
}

.carousel {
    width: 100%;
    height: fit-content;
}

.boxes-entradas {
    max-width: 90rem;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-between;
}

.carousel {
    width: 67%;
}

.entradas {
    display: grid;

    grid-template-rows: auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    grid-template-rows: auto;
    text-align: center;
    justify-content: center;

}
.entradas>h2 {
    padding: 2%;
}
.imagenes {

    display: grid;
    grid-template-columns: auto auto auto auto;

    display: flex;

    justify-content: space-around;
}

.imagen {
    transition: transform 0.3s ease;
}

.imagen img{
    max-width: 50%;
    max-height: 100%;
}

.imagen:hover {
    transform: scale(1.1);
}

.navbar-brand {
    max-width: 25%;
    height: auto;
}

.logo {
    max-width: 100%;
    height: auto;
}

.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.btn {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px grey;
    transition: color 0.3s ease;
    margin-left: 10px;
    font-size: 1.5rem;
}

.btn:hover {
    color: #888;
    transform: scale(1.02);
}

.btn-nosotros {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 5px 5px 5px rgb(162, 205, 255);
    font-weight: bold;
}

.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}

#product-header-section, .intro-type .container {
    padding: 68px 15px 72px !important;
}

.container {
    max-width: 90rem;
    width: 100%;
    height: 100%;
    padding: 0%;
    font-size: 1.5rem;
    flex: 1 auto;
}

.container-nosotros {
    width: 1630px;
}

.carousel-item img {
    height: 800px; /* Puedes ajustar este valor a lo que necesites */
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    padding: 0%;
}

.carousel-item img {
    height: 400px; /* Puedes ajustar este valor a lo que necesites */
    object-fit: cover;
    width: 100%;
}


.sub-container {
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.sub-row {
    max-width: 90rem;
    width: 100%;
}
.sub-column {
    float: left;
    width: 30%;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    border: 4px solid #03c5cd;
    margin: 20px;
    box-sizing: border-box;
}

.sub-row::after {
    content: "";
    clear: both;
    display: table;
}

.sub-column>h2 {color: #03c5cd;}
.sub-column>p {margin-bottom: 20px;}
.sub-column>.btn {border: 4px solid #03c5cd;}

.home {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}

.home-right1 {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    max-width: 90rem;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    text-align: left;
}

.home-right1>ul>li {
    list-style-type: none;
    color: #03c5cd;
}

.home-right1>ul>li:first-child {
    font-weight: bold;
}

.home-right1>ul>li>.nav-link {
    margin: 0px;
    padding: 0px;
    color: #03c5cd;
}

.home-right1>ul>li>.nav-link:hover {
    text-decoration: underline;
    color: blue;
}

.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}

.company-heading h1 {
    margin-bottom: 40px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 10px;
    
}

.ct-u-size22 {
    font-size: 22px;
}
.ct-u-fontWeight300 {
    font-weight: 300;
}
.marginTop40 {
    margin-top: 40px !important;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.culture-section {
    background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)), url(https://img.freepik.com/fotos-premium/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-54051.jpg) top no-repeat;
    /* background-color: #095c87; */
    /* color: #fff; */
}
.company-sections, .careers-sections, .left-headquarter-section-img, .right-headquarter-section-img {
    text-align: center;
}
.ct-u-paddingBoth100 {
    padding: 100px 15px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 52px;
    
}


.slick-slide img {
    display: inline-block;
}


.btn-solodev-red-reversed {
    background-color: #fff;
    color: #2872d2;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 12px 35px;
}
.btn-blk {
    font-size: 18px !Important;
}

.ct-u-paddingBottom100 {
  margin-top: 40px;
}
.culture-section {
  background-size: cover;
  color: #fff;
}

.login {
    padding: 2%;
    width: 100%;
    max-width: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    flex-shrink: 0; 
}


.navbar-light .navbar-nav .nav-link {
    color: black;
}

.nav-item a {
    border-right: 1px solid black; /* Cambia el color como prefieras */
}

.nav-item:last-child a {
    border-right: none; /* No queremos un borde en el último elemento */
}

ul {
    list-style: none;
}
table{
    border-collapse: collapse;
}
th, td{
    border: solid 1px;
}
.row{
    display: table;
    width: 100%;
}
.column {
    width: 18%;
    float: left;
    padding: 10px;
}

div.card{
    border: solid 1px white ;
}
div.card-body {
    color:#00c5ce;
    padding: 1px;
}
ul > li > a{
    text-decoration: none;
    color: black;
    display: block;
}