{%include 'imports/header.html'%}

    <div class="container">
  
        <div class="team">
          <div class="member">
            <img src="../static/img/marc.jpg" alt="member_image">
            <h3>Marc</h3>

            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <img src="../static/img/henry.jpg" alt="member_image">
            <h3>Henry Diaz</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <img src="../static/img/daniel.jpg" alt="member_image">
            <h3>Daniel</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <img src="../static/img/cristofer.jpg" alt="member_image">
            <h3>Cristofer</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <br><br>
            <img src="https://w7.pngwing.com/pngs/390/573/png-transparent-teletubbies-lala-with-orange-ball-cartoons-teletubbies-thumbnail.png" alt="member_image">
            <h3>Claudia</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
        </div>
      </div>
      
    
    
{%include 'imports/footer.html'%}