{%include 'imports/header.html'%}

    <div class="container">
  
        <div class="team">
          <div class="member">
            <img src="https://w7.pngwing.com/pngs/240/680/png-transparent-character-toast-meme-person-television-further-love-television-child.png" alt="member_image">
            <h3>Marc</h3>

            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <img src="https://falabella.scene7.com/is/image/FalabellaPE/gsc_117545611_1799822_4?wid=800&hei=800&qlt=70" alt="member_image">
            <h3>Henry Diaz</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <img src="https://w7.pngwing.com/pngs/903/369/png-transparent-teletubbies-dipsy-cartoons-teletubbies-thumbnail.png" alt="member_image">
            <h3>Daniel</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <img src="https://w7.pngwing.com/pngs/787/771/png-transparent-child-coloring-book-drawing-birthday-party-child-purple-child-violet.png" alt="member_image">
            <h3>Cristofer</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
          <div class="member">
            <br><br>
            <img src="https://w7.pngwing.com/pngs/390/573/png-transparent-teletubbies-lala-with-orange-ball-cartoons-teletubbies-thumbnail.png" alt="member_image">
            <h3>Claudia</h3>
            <div class="btn">
              <a href="#">Github</a>
            </div>
          </div>
        </div>
      </div>
      
    
    
{%include 'imports/footer.html'%}